#header {
  display: flex;
  align-items: center;
  gap: 20px;
  position: relative;

  width: 100%;
  height: 75px;
  padding: 20px;

  background-color: $shadowC;

  .title {
    font-size: x-large;

    cursor: pointer;
  }

  .breadcrumb {
    font-size: large;
    text-transform: capitalize;

    cursor: pointer;
  }

  .itemCount {
    @include pill();

    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: auto;

    font-size: x-large;

    transform: scale(1);
    transition: transform 0.2s;
  }
}
