#itemList {
  @include scrollable();

  width: 100vw;
  height: 80vh;

  padding: 20px;

  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: baseline;

  .listItem {
    width: 20vw;
    display: flex;
    flex-direction: column;

    img {
      width: 100%;
      height: 340px;
      object-fit: contain;

      box-shadow: 1px 1px 5px black;
      padding: 20px;
    }

    @media (max-width: $mobile) {
      width: 100vw;
      padding-bottom: 100px;
    }

    &__details {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      gap: 8px;

      padding: 5px;
      
      text-transform: uppercase;
      font-size: large;

      &__price {
        color: $highlight;
        font-size: medium;
      }
    }
  }
}
