#itemDetail {
  @include scrollable();
  width: 60vw;
  height: 85vh;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  padding: 10px;

  .container {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;

    &__item {
      width: 50%;
      text-align: center;
      padding: 10px;

      img {
        width: 100%;
        object-fit: contain;
        margin-top: 30px;

        box-shadow: 1px 1px 4px black;
        background-color: white;
        padding: 20px;

        @media (max-width: $mobile) {
          margin-top: 0px;
        }
      }

      @media (max-width: $mobile) {
        width: 100%;
        margin-bottom: 20px;
        padding-bottom: 100px;
      }
    }

    &__vertical {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      gap: 25px;

      &__item {
        width: 100%;

        div {
          display: flex;
          justify-content: space-between;
          align-items: center;

          border-bottom: 1px solid black;

          height: 50px;
          padding-right: 10px;

          span {
            width: 35%;
            padding: 13px;
            background-color: $details;
            color: $colorLight;
          }
        }
      }
    }
  }

  @media (max-width: $mobile) {
    width: 90vw;
    margin-bottom: 50px;
  }
}
