#searchBar {
  display: flex;
  align-items: center;
  position: relative;
  justify-content: flex-end;

  width: 100%;
  height: 50px;
  padding: 20px;

  margin-bottom: 20px;
  margin-top: 20px;

  input {
    height: 35px;
    width: 33vw;

    font-size: large;
    padding: 10px;

    &:focus {
        outline: none;
    }

    @media (max-width: $mobile) {
      width: 100vw;
    }
  }
}
