* {
  font-family: 'Barlow', sans-serif;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: $shadowB;
  color: $color;
  font-size: large;
}

a {
  text-decoration: none;
  color: $color;

  &:visited {
    color: $color;
  }
}

select {
  width: 90%;
  min-height: 40px;
  padding: 5px;

  margin-bottom: 20px;

  font-size: large;

  @media (max-width: $mobile) {
    width: 100%;
  }
}

button[type='submit'] {
  width: 80%;
  height: 60px;
  padding: 10px;
  font-size: larger;

  background-color: $submit;
  color: $colorLight;

  border: none;
  cursor: pointer;

  @media (max-width: $mobile) {
    width: 100%;
  }
}
